{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% load static %}

    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-20 p-b-30">
                <div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'img/signup.png' %}" alt="IMG">
				</div>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        <p style="font-size: medium;">Please fill your registered email address</p>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input class="btn btn-outline-primary btn-rounded waves-effect" type="submit" value="{% trans 'Reset My Password' %}">
                    </form>
                </div>
            </div>
        </div>
            
{% endblock %}
