{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% load static %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-20 p-b-30">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'img/confirm.png' %}" alt="IMG">
            </div>
            <p style="font-size: larger;">{% trans 'Your password is now changed.' %}</p><br>
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-rounded">Login</a>
        </div>
    </div>
</div>
{% endblock %}
