{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% load static %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-20 p-b-30">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'images/signup.png' %}" alt="IMG">
				</div>
                <h1>{% trans "Change Password" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-success btn-rounded" type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
            </div>
		</div>
	</div>

{% endblock %}
