{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
{% load static %}

    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-20 p-b-30">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="{% static 'img/confirm.png' %}" alt="IMG">
                </div>
                <p style="font-size: larger;">{% trans "Set Password" %}</p>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-success btn-rounded" name="action" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
