{% extends 'base.html' %}
{% block extrahead %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
{% load static %}
<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        {% for train in trainings %}
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{ train.img.url }}">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ train.topic }}</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">{{ train.topic_name }}</h2>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}